@import "./components/nav.css";
@import "./components/header.css"; 
@import "./components/section.css";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", Helvetica, sans-serif;
  height: 90vh;
  color: #ffffff;
  background: url("./../static/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  width: 100%;
  max-width: 1250px;
  min-width: 200px;
  padding: 0 10%;
  display: flex;
  margin: 0 auto;
}

@media (max-width: 768px) {
  body{
      height: 110vh;
  }
  .container {
    flex-direction: column;
  }
}
