body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
h1,h2,h3,h4{
  color: rgb(0,61,76);
}
h1{
font-size: 48px;
text-align: center;

}
h2{
  font-size: 35px;
}

h3,h4{
  font-size: 26px;
}
p{
  color: #383838;
  font-size: 20px;
  line-height: 36px;
}
.title {
font-size: 42px;
margin: 0;
font-weight: bold;

}

::selection {
    background: #ffed5e;
    color: white;
    text-shadow: none;

}

/* Firefox */
::-moz-selection {
    background: #ffed5e;
    color: white;
    text-shadow: none;

}

/* .item {
  background-color: lightblue;
   border: 1px solid red;
   padding: 10px;
}*/

.container-content{
  /* width: 960px;
  padding: 0 780px; para 4k
     padding: 0 32px; para 1024
      */
  padding: 30px 220px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}


/* cabecera */

.header{
  grid-area: header;
  text-align: center;
}


/* Menu */
.nav{
  grid-area: nav
}
.nav ul{
  /* -webkit-column-count:4;
  column-count:4;
 -webkit-column-gap: 0;
 column-gap: 0;
 -webkit-column-width: 140px;
 column-width: 140px; */
 list-style: none;
 margin: 0;
 padding: 0;
 text-align: center;
 display: block;

}
.nav ul li{
  padding: 0px;
  margin-right: 15px;
  width: 29%;
  display: initial;
  font-weight: 600;
  text-transform: uppercase;
}
.nav ul li a{
 color: black;
 text-decoration:none;
}
.nav ul li a:hover{
 color: #fe5461;
}

/* contenido */
.contenido{
  grid-area: contenido;
  width: 100%;
}
.contenido .container-content {
   display: block;
}
.contenido .container-content .contenido{
  margin-right: auto;
  margin-left:auto;
  position: relative;
}
.contenido .container-content .contenido img{
  width: 100%;
}
.contenido .container-content .contenido p{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.contenido .container-content .contenido h1,h2,h3{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.contenido .container-content .aside{
  width: 85%;
  margin-right: auto;
  margin-left:auto;
}
 .cuadro{
  padding: 20px 50px;
  margin-bottom: 20px;
  background: #fcfbfa;
  border: 1px solid #f2f2f2;

}


.border-title{
  border-top: 5px solid  #ffed5e;
  width: 100px;
  justify-self:center;
}

.principal .container-content .cluster{
  display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: 1fr;
    width: 85%;
    margin-left: auto;
    margin-right: auto;

}.principal .container-content .header-t{

    width: 85%;
    margin-left: auto;
    margin-right: auto;

}
.principal .container-content .cluster .article{

  padding-bottom: 40px;
  display: inline-block;
  transition: transform 500ms;
  /*background: #fcfbfa;   #ccdee5 , #fcfbfa , #fc6764 , #dacefe */
  border-radius: 20px;
  box-shadow: 0px 5px 15px 0px rgba(130,136,147,0.15);

}

.principal .container-content .cluster .article a  img{
 width: 100%;

}
.principal .container-content .cluster .article:hover{
 transform: translateY(-10px);
}
.principal .container-content .cluster .article a{
  text-decoration: none;
  color: #000;
  font-weight: lighter;
}
.principal .container-content .cluster .article p{
  padding: 20px;
  color: rgb(0,61,76);
}
.principal .container-content .cluster .article .button{
  border: 2px solid #ffed5e;
  color: #ffed5e;
  margin: 20px;
  padding: 10px 6px;
  text-decoration: none;
}
.principal .container-content .cluster .article h3, span{
  margin: 20px;
  color: rgb(0,61,76);
}
.popupmenu{
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  display: none;
}
.popupmenu ul{
 margin-left: auto;
 margin: auto;
 padding-top: 10px;
 width: 60%;
 list-style: none;
 margin-bottom: 100px
}
.popupmenu ul li{
 padding: 10px 0px;
}
.popupmenu ul li a{
  color: white;
  text-decoration:none;
}

 .men{
   display: block;
   margin: 0;
 }
 .men2{
   display: none;
   margin: 0;
 }
.popupmenu.is-active{
  display: block;
}
.body.is-active{
  overflow-y: hidden;
}
.men.is-active{
  display:none;
}
.men2.is-active{
  display: block;
}

.menu2{
  background: #ffed5e;
  height: 50px;
  bottom: 0;
  position: sticky;
  position: -webkit-sticky;
  z-index: 4;
  display: none;
  justify-content:space-between ;
  align-items: center;

}
.menu2 .container{
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  display:flex;
  justify-content:space-between ;
  align-items: center;
  height: 50px;
}
.menu2 .container .li{
  margin-left:auto;
  margin-right: auto;
  color: black;
  width: 100%;

}

.footer{
  grid-area: footer;
  background: black;
  color: white;
  text-align: center;
  bottom: 0;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  /* position: sticky; */

}
.footer span{
  color: white;
}

@media only screen and (min-width: 2000px) {
  .container-content{
       width: 960px;
  }

}

@media only screen and (max-width: 1400px) {
  .container-content{
    width: auto;
    padding: 30px 42px;
  }
}
@media only screen and (max-width: 959px) {
  .nav{
    display: none;
  }
  .menu2{
    display: block;
  }
  .contenido .container-content .aside{
    width: 100%;
  }
  .cuadro{
    padding: 20px 50px;
  }

}
@media only screen and (max-width: 728px) {
  .container-content{
    padding: 10px 12px;
  }
  .principal .container-content .cluster{
       grid-template-columns: repeat(1, 100%);

  }
  h1{
    font-size: 35px;
  }
  .container .contenido-content .contenido h2{
    font-size: 30px;
  }
  .cuadro{
    padding: 20px;
  }



}
